Flask
Flask-Cors
mmcv==2.2.0
gym==0.26.2
optuna==4.2.1 
ray[rllib]==2.44.0
prettytable
plotly
psutil
scipy
spacy
sqlalchemy
pandas
iopath
yfinance
matplotlib
statsmodels
scikit_learn
tslearn
gymnasium
tensorflow==2.11.0
packaging
kaleido
h5py
pydantic==1.10.2
jupyter
celery
pika
fvcore
openfe
fastdtw
chardet
pyarrow
